---
export const prerender = false;
import { Keystatic } from '../../components/KeystaticApp';
---
<html>
  <head><meta charset="utf-8" /><title>Keystatic</title></head>
  <body>
    <Keystatic client:only="react" />
  </body>
</html>
